body {
  margin: 0;
  background-color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  user-select: none;
}

#root {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 160px);
  color: rgb(33, 37, 41);
  padding: 80px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
}

.logo {
  margin-bottom: 50px;
  width: 250px;
}

.container .form {
  display: block;
  max-width: 400px;
  width: 400px;
  margin: auto;
}

.container .form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  margin-top: 24px;
}

.container .form-field input {
  padding: 14px 5px;
  width: calc(100% - 10px);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  border: none;
  outline: none;
  background-color: #fff;
  border-bottom: 1px solid rgb(193, 193, 193);
  transition: all 0.5s;
}

.container .form-field label {
  color: rgb(34, 34, 34);
  line-height: 16px;
  margin-top: -8px;
  position: absolute;
  transform: translateY(24px);
  transition: all 0.5s;
  pointer-events: none;
  margin-left: 5px;
  font-size: 16px;
}

.container .form-field input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
}

.container .form-field input:focus + label,
.container .form-field input:not(:placeholder-shown) + label {
  transform: translateY(0);
}

.container .button:before {
  content: "";
  /* width: 396px;
  height: 52px; */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* border-radius: 50px;
  margin-left: -176px;
  margin-top: -13px; */
  z-index: -1;
  border-color: #004a7f;
  background-color: #222222;
  color: #fff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
}

.container .button {
  width: 100%;
  display: block;
  background-color: rgb(0, 74, 127);
  color: #fff;
  font-size: 18px;
  padding: 12px;
  border: 2px solid #004a7f;
  border-radius: 50px;
  margin-top: 35px;
  font-weight: 400;
  font-family: Raleway, sans-serif;
  transition: all 0.3s ease-out;
  outline: none;
  line-height: 24px;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.container .button:not(:disabled) {
  cursor: pointer;
}

.container .button:disabled {
  border-color: #222222;
  color: #ffffff;
}

.container .button:disabled:before {
  transform: scaleY(1);
}

.container .button:not(:disabled):hover {
  border-color: #222222;
  color: #ffffff;
  /* background-color: transparent; */
}

.container .button:not(:disabled):hover:before {
  transform: scaleY(1);
  /* z-index: 0; */
}

.container #error {
  color: red;
  text-align: center;
  display: none;
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1;
  /* background-color: #fcfcfc; */
  flex-direction: row;
  align-items: center;
  width: 100%;
  /* box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px,
    rgb(60 64 67 / 15%) 0 2px 6px 2px; */
  /* box-shadow: 0 0 10px hsl(0deg 0% 0% / 10%),
    1px 1px 2px hsl(0deg 0% 0% / 10%); */
  display: flex;
  background-color: #fff;
}

.header .logo2 {
  max-height: 30px;
  padding: 0 5px;
  margin-left: 20px;
}

.header .logo2 svg {
  height: 35px;
}

.header nav {
  display: flex;
  flex-direction: row;
  font: 400 14px "Inter", sans-serif;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  color: rgb(33, 37, 41);
  fill: rgb(33, 37, 41);
}

.header nav div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header nav .div {
  padding: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header nav .div svg {
  width: 25px;
  padding: 0 5px;
}

.header nav .div:hover {
  color: #0e78c4;
  fill: #0e78c4;
}

.main {
  margin: 100px auto;
  max-width: 800px;
  /* box-shadow: 0 0 10px hsl(0deg 0% 0% / 10%),
    1px 1px 2px hsl(0deg 0% 0% / 10%); */
  /* border: 1px solid #d8dee4;
  background-color: #f6f8fa; */
  border-radius: 6px;
  padding: 36px;
  /* animation: bounceIn 2s; */
}

.line {
  margin: 100px auto 0;
  max-width: 800px;
  display: flex;
  flex-direction: row;
}

.main h1 {
  margin: 0;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  display: flex;
  flex-direction: row;
}

.thanks {
  width: max-content;
  font-size: 24px;
  font-family: "Open Sans Condensed", Helvetica, sans-serif;
  font-weight: 700;
  padding: 50px;
  margin: 150px auto;
  box-shadow: 0 0 10px hsl(0deg 0% 0% / 10%),
    1px 1px 2px hsl(0deg 0% 0% / 10%);
}

.main h1 .searchInputDiv {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}

.main h1 .searchInput {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(204, 204, 204);
  color: rgb(51, 51, 51);
  font-size: 13px;
  font-weight: 400;
  padding: 8px 10px;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.3s;
  border-radius: 6px;
  width: 300px;
  padding-left: 40px;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill: rgb(204, 204, 204)' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 13px center;
}

.main h1 .searchInput:focus {
  border-color: rgb(33, 158, 253);
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill: rgb(33, 158, 253)' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 13px center;
}

.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
  /* box-shadow: rgb(0 0 0 / 10%) 0px 0px 5px 0px,
    rgb(0 0 0 / 10%) 0px 0px 1px 0px; */
}

td,
th {
  border: 1px solid #eee;
  text-align: center;
}

th {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 600;
  padding: 5px;
  background-color: #fafafa;
}

td {
  vertical-align: bottom;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  max-width: max-content;
  padding: 5px;
  vertical-align: top;
}

td img {
  width: 20px;
  cursor: pointer;
}

td:last-child {
  vertical-align: middle;
}

/* tbody tr:nth-child(even) {
  background-color: #fafafa;
} */

/* tbody tr:hover {
  background-color: #f0f0f0;
} */

td:first-child,
th:first-child {
  width: 50px;
}

/* .table th {
  font-family: "Open Sans Condensed", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  padding: 5px;
} */

.main .button-div {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 30px;
}

.main .button-div button:before {
  content: "";
  /* width: 396px;
  height: 52px; */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* border-radius: 50px;
  margin-left: -176px;
  margin-top: -13px; */
  z-index: -1;
  border-color: #004a7f;
  background-color: #222222;
  color: #fff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
}

.main .button-div button {
  padding: 5px 10px;
  display: block;
  background-color: rgb(0, 74, 127);
  color: #fff;
  border: 2px solid #004a7f;
  border-radius: 5px;
  font-family: "Open Sans Condensed", Helvetica, sans-serif;
  font-weight: 700;
  transition: all 0.3s ease-out;
  outline: none;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.main .button-div button:not(:disabled) {
  cursor: pointer;
}

.main .button-div button:disabled {
  border-color: #222222;
  color: #ffffff;
}

.main .button-div button:disabled:before {
  transform: scaleY(1);
}

.main .button-div button:not(:disabled):hover {
  border-color: #222222;
  color: #ffffff;
  /* background-color: transparent; */
}

.main .button-div button:not(:disabled):hover:before {
  transform: scaleY(1);
  /* z-index: 0; */
}

.main .form {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
}

.main .form-item {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
}

.line .form-item {
  display: flex;
  flex-direction: row !important;
  align-items: center;
}

.main .form-item-error {
  padding: 0 5px;
  background-color: #faeaea;
  /* transform: scale(0.99); */
}

.main .form-item label,
.line .form-item label {
  font-family: "Open Sans Condensed", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.main .form-item label span,
.line .form-item label span {
  color: rgb(204, 42, 36);
}

.main .form-item .input-field {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

.main .input-field input,
.line .input-field input {
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(204, 204, 204);
  color: rgb(51, 51, 51);
  font-size: 13px;
  font-weight: 400;
  padding: 8px 10px;
  outline: none;
  margin: 7px 0;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.3s;
}

.line .input-field input {
  margin: 0 10px;
  padding: 5px;
  width: 280px;
  /* border: 1px solid transparent; */
}

.main .rows-input input:first-child {
  margin-right: 10px;
}

.main .input-field input:focus,
.line .input-field input:focus {
  border-color: rgb(33, 158, 253);
}

.main .form-item .error-div {
  padding: 6.25px;
  background-color: rgb(204, 42, 36);
  font-size: 11px;
  transition: all 0.5s;
  opacity: 0;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -20px;
  margin-left: 150px;
}

.main .form .button,
.line .button {
  background-color: rgb(0, 93, 180);
  border: 1px solid #fff;
  border-radius: 3px;
  font-family: "Open Sans Condensed", Helvetica, sans-serif;
  font-size: 14px;
  padding: 6px 7.5px;
  width: max-content;
  margin-top: 36px;
  min-width: 80px;
  color: rgb(255, 255, 255);
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line .button {
  margin-top: 0;
  padding: 4px 0;
  min-width: max-content;
  width: 75px;
}

.main .form .delBtn {
  background-color: rgb(138, 18, 18);
  border: 1px solid #fff;
  position: relative;
  margin-top: -33px;
  margin-left: 100px;
}

.main .form .button svg,
.line .button svg,
.spinerImg {
  width: 23.5px;
  fill: #fff;
  animation-name: spin;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.spinerImg {
  width: 20px;
  cursor: auto;
}

.line .button svg {
  width: 20px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main .form .button:not([disabled]),
.line .button:not([disabled]) {
  cursor: pointer;
}

.main .button:not([disabled]):hover,
.line .button:not([disabled]):hover {
  box-shadow: 0 0 1.5px 1.5px rgb(33, 158, 253);
}

.main .delBtn:not([disabled]):hover {
  box-shadow: 0 0 1.5px 1.5px rgb(138, 18, 18);
}

.main input::placeholder {
  color: #aaa;
  font-size: 90%;
}

.main .error,
.main .success {
  margin-top: 20px;
  font-size: 13px;
  background-image: linear-gradient(#ffebe9, #ffebe9);
  border: 1px solid #ff818266;
  flex-direction: row;
  display: none;
  align-items: center;
  padding: 16px;
  color: #870000;
  animation-name: shakeX;
  animation-duration: 1.5s;
}

.main .success {
  background-image: linear-gradient(
    rgb(175, 247, 204),
    rgb(175, 247, 204)
  );
  border: 1px solid rgba(50, 205, 50, 0.604);
  color: #24292f;
  animation-name: bounceIn;
}

.main .iframe {
  margin: 30px auto 0;
  max-width: 800px;
  border: 1px solid #eee;
  background-color: #fff;
  border-radius: 3px;
  width: 100%;
  height: calc(100vh - 62px - 72px - 100px);
}

@keyframes shakeX {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

/* laoding... */

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.spinner div {
  background-color: #bbcfeb;
  height: 50px;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
  margin-left: 3px;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@keyframes sk-stretchdelay {
  0%,
  100%,
  40% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  100%,
  40% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  100%,
  40% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  100%,
  40% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
